<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Editar pet</h1>
        <div class="col-6 offset-3">
            <form action="/pets/<%=pet._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Nome do Pet</label>
                    <input class="form-control" type="text" name="pet[name]" id="name" required value="<%= pet.name %>">
                    <div class="invalid-feedback">
                        Digite um nome.
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="location">Localização do Pet</label>
                    <input class="form-control" type="text" name="pet[location]" id="location">
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="location">Localização do Pet</label>
                    <select class="form-select" id="location" aria-label="Default select example" required
                        name="pet[location]">
                        <option selected>Recife</option>
                    </select>
                    <div class="invalid-feedback">
                        Escolha um local.
                    </div>
                </div>
                <label class="form-label" for="location">Marque as opções abaixo:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="castratedCheck"
                        name="pet[castrated]" <%=pet.castrated? "checked" : "" %>>
                    <label class="form-check-label" for="castratedCheck">
                        Castrado?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="vaccinatedCheck"
                        name="pet[vaccinated]" <%=pet.vaccinated? "checked" : "" %>>
                    <label class="form-check-label" for="vaccinatedCheck">
                        Vacinado?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="dewormedCheck" name="pet[dewormed]"
                        <%=pet.dewormed? "checked" : "" %>>
                    <label class="form-check-label" for="dewormedCheck">
                        Vermifugado?
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="true" id="readyCheck"
                        name="pet[readyForAdoption]" <%=pet.readyForAdoption? "checked" : "" %>>
                    <label class="form-check-label" for="readyCheck">
                        Pronto para adoção?
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Descrição</label>
                    <textarea class="form-control" type="text" name="pet[description]" required
                        id="description"><%= pet.description %></textarea>
                    <div class="invalid-feedback">
                        Digite uma descrição.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Adicionar mais fotos</label>
                    <input class="form-control" type="file" id="image" multiple name="image">
                </div>
                <div class="mb-3">
                    <% pet.photos.forEach(function(img,i) {%>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deletePhotos[]" id="image-<%=i%>" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Apagar foto?</label>
                        <% }) %>
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-info">Atualizar pet</button>
                </div>
            </form>
            <a href="/pets/<%= pet._id %>">Voltar para o pet</a>
        </div>
    </div>