<% layout('layouts/boilerplate') %>
    <h1>ALL PETS</h1>

    <div>
        <a href="/pets/new">Adicionar novo pet</a>
    </div>


    <% for (let pet of pets) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(pet.photos.length) {%>
                        <img src="<%=pet.photos[0].thumbnail%>" alt="" class="img-fluid">
                        <% }else {%>
                            <img src="" alt="" class="img-fluid">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">
                        <%= pet.name %>
                    </h5>
                    <p class="card-text">
                        Teste -> Pode ser a descrição do pet
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= pet.location %>
                        </small>
                    </p>
                    <a href="/pets/<%= pet._id %>" class="btn btn-primary">Ver <%= pet.name %></a>
                </div>
            </div>
        </div>
        <%}%>