<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= pet.photos %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= pet.name %>
                    </h5>
                    <p class="card-text">
                        <%= pet.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= pet.location %>
                    </li>
                    <!-- <li class="list-group-item">A second item</li> -->
                    <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/pets/<%= pet._id %>/edit">Editar</a>
                    <form class="d-inline" action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Remover pet</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a href="/pets">Todos os pets</a>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>