<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">
        <div class="col-6">
            <div id="petCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% pet.photos.forEach((img,i)=> { %>
                        <div class="carousel-item <%= i === 0? 'active' : '' %> ">
                            <img src="<%= img.url %>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(pet.photos.length>1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#petCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#petCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= pet.name %>
                    </h5>
                    <p class="card-text">
                        <%= pet.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= pet.location %>
                    </li>
                    <li class="list-group-item">
                        Cadastrado por: <%= pet.author.username %>
                    </li>
                    <!-- <li class="list-group-item">A second item</li> -->
                    <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <% if(currentUser && pet.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/pets/<%= pet._id %>/edit">Editar</a>
                        <form class="d-inline" action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Remover pet</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            <a href="/pets">Todos os pets</a>
                        </div>
            </div>

        </div>
        <div class="col-6">
            <% if(currentUser) {%>
                <h2>Deixe seu comentário sobre <%= pet.name %>
                </h2>
                <form action="/pets/<%= pet._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>

                    <!-- <div class="mb-3">
                        <label class="form-label" for="intent">Intenção de adoção</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[adoptionIntent]"
                            id="intent">
                    </div> -->
                    <div class="mb-3">
                        <fieldset class="starability-heartbeat">
                            <legend>Fofurômetro:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[adoptionIntent]"
                                value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[adoptionIntent]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[adoptionIntent]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[adoptionIntent]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[adoptionIntent]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[adoptionIntent]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Comentário</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="invalid-feedback">
                            Digite um comentário.
                        </div>
                    </div>
                    <button class="btn btn-success mb-4">Enviar comentário</button>
                </form>
                <% } %>
                    <% for(let review of pet.reviews) {%>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= review.author.username %>
                                </h5>
                                <h3>Fofurômetro:</h3>
                                <p class="starability-result" data-rating="<%= review.adoptionIntent %>">
                                    Fofurômetro: <%= review.adoptionIntent %>
                                </p>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Autor: <%= review.author.username %> -->
                                <!-- </h6> -->
                                <p class="card-text">
                                    Comentário: <%= review.body %>
                                </p>
                                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                                    <form action="/pets/<%= pet._id %>/reviews/<%= review._id  %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Apagar comentário</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <footer>

    </footer>